# maximal read length
max_rd_len=125

[LIB]
# average insert size
avg_ins=400

# if sequence needs to be
reversed reverse_seq=0

# in which part(s) the reads are used
asm_flags=2

# use only first 50 bps of each read
rd_len_cutoff=100

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=3

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32

# fastq file for reads
q1=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819794.trim_1P.fastq.gz

q2=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819794.trim_2P.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819794.trim_1U.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819794.trim_2U.fastq.gz

[LIB]

avg_ins=800

reversed reverse_seq=0

asm_flags=2

rd_len_cutoff=100

rank=1

pair_num_cutoff=3

map_len=32

q1=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819795.trim_1P.fastq.gz

q2=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819795.trim_2P.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819795.trim_1U.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819795.trim_2U.fastq.gz

[LIB]

avg_ins=9000

reversed reverse_seq=1

asm_flags=3

rd_len_cutoff=100

rank=1

pair_num_cutoff=5

map_len=35

q1=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819796.trim_1P.fastq.gz

q2=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819796.trim_2P.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819796.trim_1U.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819796.trim_2U.fastq.gz

[LIB]

avg_ins=175

reversed reverse_seq=0

asm_flags=2

rd_len_cutoff=100

rank=1

pair_num_cutoff=3

map_len=32

q1=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819797.trim_1P.fastq.gz

q2=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819797.trim_2P.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819797.trim_1U.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819797.trim_2U.fastq.gz

[LIB]

avg_ins=3000

reversed reverse_seq=1

asm_flags=3

rd_len_cutoff=100

rank=1

pair_num_cutoff=5

map_len=35

q1=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819798.trim_1P.fastq.gz

q2=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819798.trim_2P.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819798.trim_1U.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819798.trim_2U.fastq.gz

[LIB]

avg_ins=4500

reversed reverse_seq=1

asm_flags=3

rd_len_cutoff=100

rank=1

pair_num_cutoff=5

map_len=35

q1=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819799.trim_1P.fastq.gz

q2=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819799.trim_2P.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819799.trim_1U.fastq.gz

q=/home/igobazov/IB_paper_2/data/wgs_sel3/fastqc/sel3_SRR5819799.trim_2U.fastq.gz












